<div>
  <table>
    <!-- Header   --><tr><td>&nbsp;</td>                                                <td class="small regular normal">Huidig</td>                  <td class="small regular normal" style='padding-left: 50px'>Totaal</td></tr>
    <!-- Total    --><tr><td class="fas fa-home fa-fw">&nbsp;</td>                      <td class="medium light dimmed">{{ hwdaghuidig }} W</td>      <td class="medium light dimmed">{{ hwdagtotaal }} kWh</td></tr>
    <!-- Usage    --><tr><td class="fas fa-bolt fa-fw">&nbsp;</td>                      <td class="medium light dimmed">{{ hwverbruikhuidig }} W</td> <td class="medium light dimmed">{{ hwverbruiktotaal }} kWh</td></tr>
    <!-- Solar    --><tr><td class="fas fa-solar-panel fa-fw">&nbsp;</td>               <td class="medium light dimmed">{{ hwopwerkhuidig }} W</td>   <td class="medium light dimmed">{{ hwopwektotaal }} kWh</td></tr>
    <!--          --><tr><td colspan="3">&nbsp;</td></tr>
    <!-- Gas      --><tr><td class="fas fa-burn fa-fw">&nbsp;</td>                      <td>&nbsp;</td>                                               <td class="medium light dimmed">{{ hwgastotaal }} m<sup>3</sup></td></tr>
    <!-- Rain     --><tr><td class="fas fa-umbrella fa-fw">&nbsp;</td>                  <td>&nbsp;</td>                                               <td class="medium light dimmed">{{ hwregentotaal }} mm</td></tr>
    <!-- Temp     --><tr><td class="fas fa-thermometer-three-quarters fa-fw">&nbsp;</td><td>&nbsp;</td>                                               <td class="medium light dimmed">{{ hwtemptotaal}} &#8451;</td></tr>
  </table>
</div>
